<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
</head>
<body>
<section layout:fragment="content">
    <div th:unless="${doccart.empty}">
        <table class="table table-striped">
            <thead>
            <tr>
                <th th:text="#{doc-cart.itemID}">ID</th>
                <th th:text="#{doc-cart.itemName}">Product</th>
                <th th:text="#{doc-cart.count}">Quantity</th>
                <th th:text="#{doc-cart.price}" class="text-end">Price</th>
            </tr>
            </thead>
        </table>

        <div class="container-fluid">

            <div class="row">
                <div class="col d-flex justify-content-end">
                    <div class="ui horizontal statistic">
                        <div class="label" th:text="#{doc-cart.total}">Total</div>

                    </div>
                </div>
            </div>

            <div class="row justify-content-end button-bar-checkout">
                <div class="col-2 d-flex justify-content-end">
                    <form class="ui form" method="post" th:action="@{/print}">
                        <button type="submit" class="btn btn-primary" th:text="#{doc-cart.printReceipt}">Print Receipt</button>
                    </form>
                </div>

                <div class="col-1 d-flex justify-content-end">
                    <form sec:authorize="hasAnyRole('EMPLOYEE, BOSS, CUSTOMER')" class="ui form" method="post" th:action="@{/checkout}">
                        <button type="submit" class="btn btn-primary" onclick="alert('Thank you for shopping!')" th:text="#{doc-cart.buyProducts}">Buy</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <h2 th:if="${doccart.empty}" th:text="#{doccart.empty}">Empty</h2>
</section>
</body>
</html>