<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout.html}">
<head>

</head>
<body>
<section layout:fragment="content">

    <div class="container-fluid">

        <div class="row">
            <div class="col sub-wrapper">
                <h2>Laboratory Orders in Preparation</h2>
                <br>
                <a class="btn btn-primary" href="lab-new-order.html" th:href="@{/lab-new-order}">Create new lab-order</a>
                <a class="btn btn-primary" href="add-mixture-components.html" th:href="@{/add-mixture-components}">Create new mixture</a>

            </div>
        </div>

        <div class="row">
            <div class="col sub-wrapper">
                <form id="form_search" name="form_search" method="get" th:action="@{/search-lab-orders}"
                      class="form-inline">
                    <div class="input-group mb-3">
                        <input class="form-control" placeholder="Search for..." type="text" name="search"/>
                        <button type="submit" class="btn btn-outline-primary">Search</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="ui positive message" th:if="${succes}" th:text="${succes}"></div>
        <div class="alert alert-danger" role="alert" th:if="${noresult==true}">
            No matching entry found. Please check for spelling mistakes.
        </div>

        <div class="row">
            <div class="col sub-wrapper">
                <h3>All Orders</h3>
                <br>

                <table class="table table-striped">

                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Product Name</th>
                        <!-- <th>Quantity</th> -->
                        <th>Ingredients</th>
                        <th sec:authorize="hasRole('LABORANT')">Single Price</th>
                        <th sec:authorize="hasRole('LABORANT')">Insert Price</th>
                        <th>Customer Name</th>
                        <th>Customer Contact</th>
                        <th>Status</th>
                        <th>Order Date</th>
                        <th sec:authorize="hasRole('LABORANT')">Actions</th>
                        <th sec:authorize="hasAnyRole('EMPLOYEE','BOSS')">Order Slip</th>

                    </tr>
                    </thead>

                    <tbody th:remove="all-but-first">
                    <tr th:each="article : ${catalog}">
                        <td th:text="${article.getID()}"></td>
                        <td th:text="${article.name}"></td>
                        <!--  <td th:text="${article.quantity}"></td> -->
                        <td th:text="${article.description}"></td>
                        <td sec:authorize="hasRole('LABORANT')" th:text="${article.price}"></td>
                        <td sec:authorize="hasRole('LABORANT')">
                            <form method="post" th:action="@{/orders/{article}/updateprice(article=${article.id})}">
                                <input id="price" type="number" min="0.01" max="10000" name="price" step="0.01"
                                       th:value="${article.price}" required/><br/>
                                <button type="submit" class="btn btn-secondary">Submit</button>
                            </form>
                        </td>
                        <td th:text="${article.customerName}"></td>
                        <td th:text="${article.customerTel}"></td>
                        <td th:text="${article.type}"></td>
                        <td th:text="${article.orderDate}"></td>

                        <td sec:authorize="hasRole('LABORANT')">
                            <form  class="ui form"
                                  th:action="@{/lab-orders/{article}/ready(article=${article.id})}" method="post">
                                <input type="hidden" name="pid" value="0" th:value="${article.id}"/>
                                <button type="submit" class="btn btn-primary">Preparation Completed</button>
                            </form>
                        </td>
                        <td sec:authorize="hasAnyRole('EMPLOYEE','BOSS')">
                            <a th:href="@{/lab-orders/{id}(id=${article.id})}" class="btn btn-primary" role="button" href="lab-order-slip.html">Order Slip</a>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>


