<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
</head>
<body>
<section layout:fragment="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col sub-wrapper">
                <h2>Welcome to our Self-Checkout!</h2>
            </div>
        </div>
        <!-- Content to be added -->
    </div>

</section>
</body>
</html>
